

.footer-container {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 60px
}

.us {
    width: 25%;
    height: 320px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-left: 2px solid grey;
    margin-top: 20px;
}

.us-title {
    height: 50px;   
}

.us-title>spam {
    color:#a91e63;
}

.us-bottom {
    width: 100%;
    height: 210px;
    
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px
}

.no-border {
    border: none
}

.about {
    font-size: 1em;
    text-align: left;
}

.members {
 width: 50%;
 height: 50px;
 background-color:  gray;
 padding: 2%;
 display: flex;
 align-items: center;
 justify-content: center;
 text-decoration: none;
 color: #fff;
 font-size: 1.4em
}

.us-bottom>.members {
    margin: 50% -25%; 
   
}

.members:hover {
    color:#a91e63;
    background-color:  rgba(156, 151, 151, 0.517);
}

.socialLink {
    color: gray;
    font-size: 1.4em;
    padding: 10px
}

.socialLink:hover {
    color:#a91e63;
}



.footer-team {
    background-color: rgb(160, 157, 155);
    color: #fff;
    text-align: center;
    font-size: 0.9em;
    padding: 15px 0
}