.main {
    width: 100%;
}

.cervantes-part {
    width: 100%;
    padding: 20px 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: justify
}

.text {
width: 65%;

}

.right {
    width: 28%;
    height: 600px;
    text-align: center;
    padding-top: 30px
}

figcaption {
    width: 100%;
    padding-top: 20px;
}

figcaption>h5 {
    color:#a80456;
    margin-top: 50px 
}