* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

top {
  background-color: rgb(255 255 255);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

h1 {
  color: rgb(60, 61, 62);
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 1.4em;
  text-align: center;
  opacity: 0.7;
}

h1 > spam {
  color: rgb(172, 158, 111);
}

.search {
    width: 50%;
    height: 40px;
    border: 1px solid #3e5962;
}

nav ul {
    width: 100%;
  list-style-type: none;
  background-color: rgb(255 255 255);
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  padding: 0.6%;
  border: 1px solid red;
}

nav ul li {
  border: 1px solid rgb(229, 228, 228);
  margin: 0.1%;
  width: 8%;
  text-align: center;
}

nav ul li:hover {
  background-color: rgb(229, 228, 228);
}

nav ul li a {
  text-decoration: none;
  text-align: center;
  color: rgb(229, 228, 228);
  height: 42px;
  width: 92px;
  font-size: 92%;
}

nav ul li a:hover {
  font-weight: bold;
  color: #80004093;
}

.christmasBanner {
  background-image: url(../../assets/img/christmas.png);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  border: 1px solid black;
}

.giftInfo {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(249 239 222);
  margin: auto;
  padding: 1.5%;
}

.giftInfo > a {
  color: rgb(249 239 222);
}

.giftInfo > a:hover {
  color: rgb(230, 175, 186);
}

h4 {
  background-color: rgb(67 88 97);
  color: rgb(245 243 243);
  font-size: 0.1em;
  font-family: "Open Sans", sans-serif;
  margin-top: 20px;
  padding: 0.4em;
  text-align: center;
}
